# Activity: Explore hypothesis testing

## Introduction

You work for an environmental think tank called Repair Our Air (ROA). ROA is formulating policy recommendations to improve the air quality in America, using the Environmental Protection Agency's Air Quality Index (AQI) to guide their decision making. An AQI value close to 0 signals "little to no" public health concern, while higher values are associated with increased risk to public health. 

They've tasked you with leveraging AQI data to help them prioritize their strategy for improving air quality in America.

ROA is considering the following decisions. For each, construct a hypothesis test and an accompanying visualization, using your results of that test to make a recommendation:

1. ROA is considering a metropolitan-focused approach. Within California, they want to know if the mean AQI in Los Angeles County is statistically different from the rest of California.
2. With limited resources, ROA has to choose between New York and Ohio for their next regional office. Does New York have a lower AQI than Ohio?
3. A new policy will affect those states with a mean AQI of 10 or greater. Can you rule out Michigan from being affected by this new policy?

**Notes:**
1. For your analysis, you'll default to a 5% level of significance.
2. Throughout the lab, for two-sample t-tests, use Welch's t-test (i.e., setting the `equal_var` parameter to `False` in `scipy.stats.ttest_ind()`). This will account for the possibly unequal variances between the two groups in the comparison.

## Step 1: Imports

To proceed with your analysis, import `pandas` and `numpy`. To conduct your hypothesis testing, import `stats` from `scipy`.

#### Import Packages

In [2]:
# Import relevant packages

### YOUR CODE HERE ###
import pandas as pd
import numpy as np
from scipy import stats

You are also provided with a dataset with national Air Quality Index (AQI) measurements by state over time for this analysis. `Pandas` was used to import the file `c4_epa_air_quality.csv` as a dataframe named `aqi`. As shown in this cell, the dataset has been automatically loaded in for you. You do not need to download the .csv file, or provide more code, in order to access the dataset and proceed with this lab. Please continue with this activity by completing the following instructions.

**Note:** For purposes of your analysis, you can assume this data is randomly sampled from a larger population.

#### Load Dataset

In [6]:
# RUN THIS CELL TO IMPORT YOUR DATA.

### YOUR CODE HERE ###
aqi_df = pd.read_csv('../datasets/c4_epa_air_quality.csv')

## Step 2: Data Exploration

### Before proceeding to your deliverables, explore your datasets.

Use the following space to surface descriptive statistics about your data. In particular, explore whether you believe the research questions you were given are readily answerable with this data.

In [7]:
# Explore your dataframe `aqi` here:

### YOUR CODE HERE ###
# Remove null values in dataframe
aqi_df.dropna()

# Look at dataframe
aqi_df.head()

,Unnamed: 0,date_local,state_name,county_name,city_name,local_site_name,parameter_name,units_of_measure,arithmetic_mean,aqi
0,0,2018-01-01,Arizona,Maricopa,Buckeye,BUCKEYE,Carbon monoxide,Parts per million,0.473684,7
1,1,2018-01-01,Ohio,Belmont,Shadyside,Shadyside,Carbon monoxide,Parts per million,0.263158,5
2,2,2018-01-01,Wyoming,Teton,Not in a city,Yellowstone National Park - Old Faithful Snow ...,Carbon monoxide,Parts per million,0.111111,2
3,3,2018-01-01,Pennsylvania,Philadelphia,Philadelphia,North East Waste (NEW),Carbon monoxide,Parts per million,0.300000,3
4,4,2018-01-01,Iowa,Polk,Des Moines,CARPENTER,Carbon monoxide,Parts per million,0.215789,3

In [25]:
# Show important statistics per state sorted by mean aqi
print("Descriptive statistics for aqi levels in each state")
aqi_df.groupby('state_name').describe()

Descriptive statistics for aqi levels in each state

                     Unnamed: 0                                                \
                          count        mean         std    min     25%    50%
state_name
Alabama                     1.0   71.000000         NaN   71.0   71.00   71.0
Alaska                      2.0  240.500000    3.535534  238.0  239.25  240.5
Arizona                    14.0  131.714286   88.793995    0.0   67.50  140.5
Arkansas                    1.0  186.000000         NaN  186.0  186.00  186.0
California                 66.0  137.272727   69.667020   16.0   76.25  144.0
Colorado                    9.0  119.333333   80.614825    9.0   56.00   97.0
Connecticut                 4.0  119.250000   94.757146   15.0   82.50  108.5
Delaware                    1.0  135.000000         NaN  135.0  135.00  135.0
District Of Columbia        2.0  219.000000   50.911688  183.0  201.00  219.0
Florida                    12.0  149.000000   66.311935   39.0  109.00  153.0
Georgia                     2.0  139.000000  125.865007   50.0   94.50  139.0
Hawaii                      3.0    6.333333    1.527525    5.0    5.50    6.0
Idaho                       2.0   96.000000   82.024387   38.0   67.00   96.0
Illinois                    3.0  127.000000   86.156834   28.0   98.00  168.0
Indiana                     5.0  135.600000   92.629909   11.0   68.00  164.0
Iowa                        3.0   28.333333   28.711206    4.0   12.50   21.0
Kansas                      1.0   29.000000         NaN   29.0   29.00   29.0
Kentucky                    3.0  148.000000   94.873600   84.0   93.50  103.0
Louisiana                   1.0  152.000000         NaN  152.0  152.00  152.0
Maine                       2.0  108.500000  101.116270   37.0   72.75  108.5
Maryland                    4.0  105.000000   82.732501   30.0   66.00   83.5
Massachusetts               4.0   94.000000   58.109093   36.0   48.00   97.5
Michigan                    9.0  172.666667   64.625846   65.0  123.00  192.0
Minnesota                   7.0   94.142857   82.197787   10.0   33.00   73.0
Mississippi                 1.0  160.000000         NaN  160.0  160.00  160.0
Missouri                    3.0   72.333333   59.534304   14.0   42.00   70.0
Montana                     2.0  121.500000    9.192388  115.0  118.25  121.5
Nebraska                    2.0  162.000000  135.764502   66.0  114.00  162.0
Nevada                      4.0   55.500000   40.796242   17.0   23.00   52.5
New Hampshire               2.0  163.500000   24.748737  146.0  154.75  163.5
New Jersey                  6.0  106.666667   55.913028   32.0   64.75  113.0
New Mexico                  2.0  199.500000   53.033009  162.0  180.75  199.5
New York                   10.0  165.800000   43.898367   90.0  134.75  177.5
North Carolina              4.0  127.000000   92.372435   54.0   69.00   97.5
North Dakota                1.0  108.000000         NaN  108.0  108.00  108.0
Ohio                       12.0  128.666667   96.437765    1.0   43.75  134.5
Oklahoma                    4.0  131.750000   49.473057   85.0   91.00  133.5
Oregon                      2.0  215.500000   53.033009  178.0  196.75  215.5
Pennsylvania               10.0  103.200000   75.271066    3.0   67.75   96.5
Puerto Rico                 1.0  187.000000         NaN  187.0  187.00  187.0
Rhode Island                2.0   83.500000   85.559921   23.0   53.25   83.5
South Carolina              1.0  221.000000         NaN  221.0  221.00  221.0
South Dakota                1.0   53.000000         NaN   53.0   53.00   53.0
Tennessee                   2.0  127.000000  110.308658   49.0   88.00  127.0
Texas                      10.0  138.900000   71.242076   24.0   93.75  125.5
Utah                        3.0  171.666667   50.332230  125.0  145.00  165.0
Vermont                     3.0  100.666667   55.048463   47.0   72.50   98.0
Virginia                    4.0   93.250000   78.014422   20.0   38.00   80.0
Washington                  2.0  159.000000  123.036580   72.0  115.50  159.0
West Virginia               1.0   55.000000         NaN   55.0   55.00   55.0
Wisconsin                   1.0  256.000000         NaN  256.0  256.00  256.0
Wyoming                     3.0   67.333333   59.374518    2.0   42.00   82.0

                                    arithmetic_mean            ...            \
                         75%    max           count      mean  ...       75%
state_name                                                     ...
Alabama                71.00   71.0             1.0  0.200000  ...  0.200000
Alaska                241.75  243.0             2.0  0.555264  ...  0.556579
Arizona               204.50  254.0            14.0  0.671804  ...  0.934210
Arkansas              186.00  186.0             1.0  0.300000  ...  0.300000
California            198.75  250.0            66.0  0.684871  ...  0.971491
Colorado              179.00  251.0             9.0  0.330994  ...  0.342105
Connecticut           145.25  245.0             4.0  0.200000  ...  0.231944
Delaware              135.00  135.0             1.0  0.215789  ...  0.215789
District Of Columbia  237.00  255.0             2.0  0.222222  ...  0.233333
Florida               204.25  232.0            12.0  0.299123  ...  0.353947
Georgia               183.50  228.0             2.0  0.286842  ...  0.330263
Hawaii                  7.00    8.0             3.0  0.531579  ...  0.697369
Idaho                 125.00  154.0             2.0  0.621053  ...  0.755263
Illinois              176.50  185.0             3.0  0.254386  ...  0.310527
Indiana               216.00  219.0             5.0  0.304210  ...  0.300000
Iowa                   40.50   60.0             3.0  0.171930  ...  0.207895
Kansas                 29.00   29.0             1.0  0.136842  ...  0.136842
Kentucky              180.00  257.0             3.0  0.181837  ...  0.191176
Louisiana             152.00  152.0             1.0  0.000000  ...  0.000000
Maine                 144.25  180.0             2.0  0.184210  ...  0.192105
Maryland              122.50  223.0             4.0  0.195833  ...  0.203947
Massachusetts         143.50  145.0             4.0  0.225000  ...  0.252632
Michigan              226.00  248.0             9.0  0.465400  ...  0.516667
Minnesota             149.00  212.0             7.0  0.178947  ...  0.223684
Mississippi           160.00  160.0             1.0  0.200000  ...  0.200000
Missouri              101.50  133.0             3.0  0.211111  ...  0.216667
Montana               124.75  128.0             2.0  0.172222  ...  0.208333
Nebraska              210.00  258.0             2.0  0.324416  ...  0.372734
Nevada                 85.00  100.0             4.0  0.988158  ...  1.228947
New Hampshire         172.25  181.0             2.0  0.200000  ...  0.200000
New Jersey            153.75  166.0             6.0  0.302397  ...  0.428840
New Mexico            218.25  237.0             2.0  0.239474  ...  0.243421
New York              192.25  234.0            10.0  0.233684  ...  0.268421
North Carolina        155.50  259.0             4.0  0.191667  ...  0.200000
North Dakota          108.00  108.0             1.0  0.200000  ...  0.200000
Ohio                  219.00  252.0            12.0  0.225379  ...  0.265790
Oklahoma              174.25  175.0             4.0  0.171930  ...  0.221053
Oregon                234.25  253.0             2.0  0.152632  ...  0.178947
Pennsylvania          128.75  235.0            10.0  0.239458  ...  0.300000
Puerto Rico           187.00  187.0             1.0  0.336842  ...  0.336842
Rhode Island          113.75  144.0             2.0  0.302941  ...  0.354411
South Carolina        221.00  221.0             1.0  0.100000  ...  0.100000
South Dakota           53.00   53.0             1.0  0.242105  ...  0.242105
Tennessee             166.00  205.0             2.0  0.192105  ...  0.238158
Texas                 195.00  247.0            10.0  0.198947  ...  0.223684
Utah                  195.00  225.0             3.0  0.461306  ...  0.528801
Vermont               127.50  157.0             3.0  0.227778  ...  0.291666
Virginia              135.25  193.0             4.0  0.277632  ...  0.375000
Washington            202.50  246.0             2.0  0.328948  ...  0.356579
West Virginia          55.00   55.0             1.0  0.226316  ...  0.226316
Wisconsin             256.00  256.0             1.0  0.200000  ...  0.200000
Wyoming               100.00  118.0             3.0  0.134473  ...  0.155556

                                 aqi                                          \
                           max count       mean        std  min    25%   50%
state_name
Alabama               0.200000   1.0   2.000000        NaN  2.0   2.00   2.0
Alaska                0.557895   2.0   8.500000   0.707107  8.0   8.25   8.5
Arizona               1.921053  14.0  15.214286  14.104983  2.0   5.50  10.0
Arkansas              0.300000   1.0   3.000000        NaN  3.0   3.00   3.0
California            1.742105  66.0  12.121212   7.301244  1.0   7.00  11.0
Colorado              0.478947   9.0   5.000000   1.322876  3.0   5.00   5.0
Connecticut           0.261111   4.0   3.500000   1.914854  1.0   2.50   4.0
Delaware              0.215789   1.0   3.000000        NaN  3.0   3.00   3.0
District Of Columbia  0.244444   2.0   2.500000   0.707107  2.0   2.25   2.5
Florida               0.600000  12.0   5.500000   2.430862  1.0   4.50   6.0
Georgia               0.373684   2.0   4.000000   2.828427  2.0   3.00   4.0
Hawaii                0.994737   3.0   7.000000   6.244998  2.0   3.50   5.0
Idaho                 0.889474   2.0  10.000000   5.656854  6.0   8.00  10.0
Illinois              0.421053   3.0   3.333333   2.309401  2.0   2.00   2.0
Indiana               0.542105   5.0   3.800000   2.387467  2.0   3.00   3.0
Iowa                  0.215789   3.0   2.000000   1.000000  1.0   1.50   2.0
Kansas                0.136842   1.0   2.000000        NaN  2.0   2.00   2.0
Kentucky              0.200000   3.0   2.000000   0.000000  2.0   2.00   2.0
Louisiana             0.000000   1.0   0.000000        NaN  0.0   0.00   0.0
Maine                 0.200000   2.0   2.500000   0.707107  2.0   2.25   2.5
Maryland              0.215789   4.0   2.250000   0.500000  2.0   2.00   2.0
Massachusetts         0.252632   4.0   2.750000   0.500000  2.0   2.75   3.0
Michigan              0.811111   9.0   8.111111   3.257470  2.0   7.00   8.0
Minnesota             0.273684   7.0   2.142857   0.690066  1.0   2.00   2.0
Mississippi           0.200000   1.0   2.000000        NaN  2.0   2.00   2.0
Missouri              0.233333   3.0   3.000000   1.732051  2.0   2.00   2.0
Montana               0.244444   2.0   2.000000   1.414214  1.0   1.50   2.0
Nebraska              0.421053   2.0   7.000000   2.828427  5.0   6.00   7.0
Nevada                1.805263   4.0  18.500000  15.351439  7.0  10.00  13.0
New Hampshire         0.200000   2.0   2.000000   0.000000  2.0   2.00   2.0
New Jersey            0.500000   6.0   4.333333   1.966384  2.0   3.00   4.0
New Mexico            0.247368   2.0   6.000000   1.414214  5.0   5.50   6.0
New York              0.300000  10.0   2.500000   0.527046  2.0   2.00   2.5
North Carolina        0.200000   4.0   2.000000   0.000000  2.0   2.00   2.0
North Dakota          0.200000   1.0   2.000000        NaN  2.0   2.00   2.0
Ohio                  0.394737  12.0   3.333333   1.302678  2.0   2.75   3.0
Oklahoma              0.284211   4.0   2.500000   1.732051  1.0   1.75   2.0
Oregon                0.205263   2.0   2.000000   1.414214  1.0   1.50   2.0
Pennsylvania          0.455556  10.0   2.900000   1.663330  0.0   2.00   3.0
Puerto Rico           0.336842   1.0   5.000000        NaN  5.0   5.00   5.0
Rhode Island          0.405882   2.0   4.000000   2.828427  2.0   3.00   4.0
South Carolina        0.100000   1.0   1.000000        NaN  1.0   1.00   1.0
South Dakota          0.242105   1.0   5.000000        NaN  5.0   5.00   5.0
Tennessee             0.284211   2.0   2.000000   1.414214  1.0   1.50   2.0
Texas                 0.252632  10.0   2.700000   0.948683  2.0   2.00   2.5
Utah                  0.694444   3.0   9.000000   1.732051  7.0   8.50  10.0
Vermont               0.350000   3.0   3.333333   2.516611  1.0   2.00   3.0
Virginia              0.442105   4.0   4.000000   2.581989  1.0   2.50   4.0
Washington            0.384211   2.0   4.000000   1.414214  3.0   3.50   4.0
West Virginia         0.226316   1.0   3.000000        NaN  3.0   3.00   3.0
Wisconsin             0.200000   1.0   2.000000        NaN  2.0   2.00   2.0
Wyoming               0.200000   3.0   1.666667   0.577350  1.0   1.50   2.0


                        75%   max
state_name
Alabama                2.00   2.0
Alaska                 8.75   9.0
Arizona               19.75  50.0
Arkansas               3.00   3.0
California            16.00  40.0
Colorado               6.00   7.0
Connecticut            5.00   5.0
Delaware               3.00   3.0
District Of Columbia   2.75   3.0
Florida                7.00   9.0
Georgia                5.00   6.0
Hawaii                 9.50  14.0
Idaho                 12.00  14.0
Illinois               4.00   6.0
Indiana                3.00   8.0
Iowa                   2.50   3.0
Kansas                 2.00   2.0
Kentucky               2.00   2.0
Louisiana              0.00   0.0
Maine                  2.75   3.0
Maryland               2.25   3.0
Massachusetts          3.00   3.0
Michigan              10.00  13.0
Minnesota              2.50   3.0
Mississippi            2.00   2.0
Missouri               3.50   5.0
Montana                2.50   3.0
Nebraska               8.00   9.0
Nevada                21.50  41.0
New Hampshire          2.00   2.0
New Jersey             5.75   7.0
New Mexico             6.50   7.0
New York               3.00   3.0
North Carolina         2.00   2.0
North Dakota           2.00   2.0
Ohio                   3.50   6.0
Oklahoma               2.75   5.0
Oregon                 2.50   3.0
Pennsylvania           3.00   6.0
Puerto Rico            5.00   5.0
Rhode Island           5.00   6.0
South Carolina         1.00   1.0
South Dakota           5.00   5.0
Tennessee              2.50   3.0
Texas                  3.00   5.0
Utah                  10.00  10.0
Vermont                4.50   6.0
Virginia               5.50   7.0
Washington             4.50   5.0
West Virginia          3.00   3.0
Wisconsin              2.00   2.0
Wyoming                2.00   2.0

[52 rows x 24 columns]

In [26]:
# Dataframe shape
print("Dataframe shape:")
aqi_df.shape

Dataframe shape:

(260, 10)

<details>
  <summary><h4><strong>HINT 1</strong></h4></summary>

  Consider referring to the material on descriptive statisics.
</details>

<details>
  <summary><h4><strong>HINT 2</strong></h4></summary>

  Consider using `pandas` or `numpy` to explore the `aqi` dataframe.
</details>

<details>
  <summary><h4><strong>HINT 3</strong></h4></summary>

Any of the following functions may be useful:
- `pandas`: `describe()`,`value_counts()`,`shape()`, `head()`
- `numpy`: `unique()`,`mean()`
    
</details>

#### **Question 1: From the preceding data exploration, what do you recognize?**

We notice that eventhough california is the state with most entries it is not the state with the highest mean aqi. We also see that Arizon is both second in the frequecy count and mean aqi level, this could be indication that Arizona's true aqi might be at some concerning level.

## Step 3. Statistical Tests

Before you proceed, recall the following steps for conducting hypothesis testing:

1. Formulate the null hypothesis and the alternative hypothesis.<br>
2. Set the significance level.<br>
3. Determine the appropriate test procedure.<br>
4. Compute the p-value.<br>
5. Draw your conclusion.

### Hypothesis 1: ROA is considering a metropolitan-focused approach. Within California, they want to know if the mean AQI in Los Angeles County is statistically different from the rest of California.

Before proceeding with your analysis, it will be helpful to subset the data for your comparison.

In [39]:
# Create dataframes for each sample being compared in your test

### YOUR CODE HERE ###
ca_la = aqi_df[aqi_df['county_name'] == 'Los Angeles']
ca_other = aqi_df[(aqi_df['state_name'] == 'California') & ( aqi_df['county_name'] != 'Los Angeles')]

print('Los Angeles: ', ca_la.shape)
print('California: ',ca_other.shape)

#ca_la.head()
ca_other.head()

Los Angeles:  (14, 10)
California:  (52, 10)

,Unnamed: 0,date_local,state_name,county_name,city_name,local_site_name,parameter_name,units_of_measure,arithmetic_mean,aqi
16,16,2018-01-01,California,San Bernardino,Ontario,Ontario Near Road (Etiwanda),Carbon monoxide,Parts per million,0.747368,11
18,18,2018-01-01,California,Sacramento,Arden-Arcade,Sacramento-Del Paso Manor,Carbon monoxide,Parts per million,0.752632,16
26,26,2018-01-01,California,Orange,La Habra,La Habra,Carbon monoxide,Parts per million,0.673684,13
27,27,2018-01-01,California,Alameda,Not in a city,Berkeley- Aquatic Park,Carbon monoxide,Parts per million,1.088889,15
34,34,2018-01-01,California,Fresno,Fresno,Fresno - Garland,Carbon monoxide,Parts per million,1.000000,15

<details>
  <summary><h4><strong>HINT 1</strong></h4></summary>

  Consider referencing the material on subsetting dataframes.  
</details>

<details>
  <summary><h4><strong>HINT 2</strong></h4></summary>

  Consider creating two dataframes, one for Los Angeles, and one for all other California observations.
</details>

<details>
  <summary><h4><strong>HINT 3</strong></h4></summary>

For your first dataframe, filter to `county_name` of `Los Angeles`. For your second dataframe, filter to `state_name` of `Calfornia` and `county_name` not equal to `Los Angeles`.
    
</details>

#### Formulate your hypothesis:

**Formulate your null and alternative hypotheses:**

*   $H_0$: There is no difference in the mean AQI between Los Angeles County and the rest of California.
*   $H_A$: There is a difference in the mean AQI between Los Angeles County and the rest of California.

#### Set the significance level:

In [29]:
# For this analysis, the significance level is 5%

### YOUR CODE HERE
significance_level = 0.05
significance_level

0.05

#### Determine the appropriate test procedure:

Here, you are comparing the sample means between two independent samples. Therefore, you will utilize a **two-sample  𝑡-test**.

#### Compute the P-value

In [40]:
# Compute your p-value here

### YOUR CODE HERE ###
stats.ttest_ind(a=ca_la['aqi'], b=ca_other['aqi'], equal_var=False) # independent two-sample t-test

TtestResult(statistic=2.1107010796372014, pvalue=0.049839056842410995, df=17.08246830361151)

<details>
  <summary><h4><strong>HINT 1</strong></h4></summary>

  Consider referencing the material on how to perform a two-sample t-test.
</details>

<details>
  <summary><h4><strong>HINT 2</strong></h4></summary>

  In `ttest_ind()`, a is the aqi column from our "Los Angeles" dataframe, and b is the aqi column from the "Other California" dataframe.
</details>

<details>
  <summary><h4><strong>HINT 3</strong></h4></summary>

  Be sure to set `equal_var` = False.

</details>

#### **Question 2. What is your P-value for hypothesis 1, and what does this indicate for your null hypothesis?**

With a p-value (0.049) being less than 0.05 (as your significance level is 5%), reject the null hypothesis in favor of the alternative hypothesis.

Therefore, a metropolitan strategy may make sense in this case.

### Hypothesis 2: With limited resources, ROA has to choose between New York and Ohio for their next regional office. Does New York have a lower AQI than Ohio?

Before proceeding with your analysis, it will be helpful to subset the data for your comparison.

In [44]:
# Create dataframes for each sample being compared in your test

### YOUR CODE HERE ###
ny = aqi_df[aqi_df['state_name'] == 'New York']
ohio = aqi_df[aqi_df['state_name'] == 'Ohio']

print('State of New York: ', ny.shape)
print('State of Ohio: ', ohio.shape)

print('Mean Average of New York AQI: ', ny['aqi'].mean())
print('Mean Average of Ohio AQI: ', ohio['aqi'].mean())

State of New York:  (10, 10)
State of Ohio:  (12, 10)
Mean Average of New York AQI:  2.5
Mean Average of Ohio AQI:  3.3333333333333335

<details>
  <summary><h4><strong>HINT 1</strong></h4></summary>

  Consider referencing the materials on subsetting dataframes.  
</details>

<details>
  <summary><h4><strong>HINT 2</strong></h4></summary>

  Consider creating two dataframes, one for New York, and one for Ohio observations.
</details>

<details>
  <summary><h4><strong>HINT 3</strong></h4></summary>

For your first dataframe, filter to `state_name` of `New York`. For your second dataframe, filter to `state_name` of `Ohio`.
    
</details>

#### Formulate your hypothesis:

**Formulate your null and alternative hypotheses:**

*   $H_0$: The mean AQI of New York is greater than or equal to that of Ohio.
*   $H_A$: The mean AQI of New York is **below** that of Ohio.

#### Significance Level (remains at 5%)

#### Determine the appropriate test procedure:

Here, you are comparing the sample means between two independent samples in one direction. Therefore, you will utilize a **two-sample  𝑡-test**.

#### Compute the P-value

In [46]:
# Computer your p-value here

### YOUR CODE HERE ###
tstat, pvalue = stats.ttest_ind(a=ny['aqi'], b=ohio['aqi'], alternative='less')

print('Two-sample Independet T-test: ', tstat)
print('P-Value: ', pvalue)

Two-sample Independet T-test:  -1.891850434703295
P-Value:  0.03654034300840755

<details>
  <summary><h4><strong>HINT 1</strong></h4></summary>

  Consider referencing the material on how to perform a two-sample t-test.
</details>

<details>
  <summary><h4><strong>HINT 2</strong></h4></summary>

  In `ttest_ind()`, a is the aqi column from the "New York" dataframe, an b is the aqi column from the "Ohio" dataframe.
</details>

<details>
  <summary><h4><strong>HINT 3</strong></h4></summary>

  You can assign `tstat`, `pvalue` to the output of `ttest_ind`. Be sure to include `alternative = less` as part of your code.  

</details>

#### **Question 3. What is your P-value for hypothesis 2, and what does this indicate for your null hypothesis?**

The P-value of 3% is less than our significance level of 5%, which implies we reject the null hypothesis and accept the alternative hypothesis that the mean AQI of NY is less than the mean AQI of Ohio.

Therefore, you can conclude at the 5% significance level that New York has a lower mean AQI than Ohio.

###  Hypothesis 3: A new policy will affect those states with a mean AQI of 10 or greater. Can you rule out Michigan from being affected by this new policy?

Before proceeding with your analysis, it will be helpful to subset the data for your comparison.

In [47]:
# Create dataframes for each sample being compared in your test

### YOUR CODE HERE ###
michigan = aqi_df[aqi_df['state_name'] == 'Michigan']
michigan.head()

,Unnamed: 0,date_local,state_name,county_name,city_name,local_site_name,parameter_name,units_of_measure,arithmetic_mean,aqi
65,65,2018-01-01,Michigan,Wayne,Livonia,LIVONIA-NR,Carbon monoxide,Parts per million,0.338889,5
122,122,2018-01-01,Michigan,Wayne,Detroit,West corner,Carbon monoxide,Parts per million,0.394737,8
123,123,2018-01-01,Michigan,Wayne,Detroit,MARK TWAIN MIDDLE SCHOOL,Carbon monoxide,Parts per million,0.515789,9
129,129,2018-01-01,Michigan,Wayne,Detroit,ELIZA-NR,Carbon monoxide,Parts per million,0.616667,11
192,192,2018-01-01,Michigan,Wayne,Allen Park,Allen Park,Carbon monoxide,Parts per million,0.811111,13

<details>
  <summary><h4><strong>HINT 1</strong></h4></summary>

  Consider referencing the material on subsetting dataframes.  
</details>

<details>
  <summary><h4><strong>HINT 2</strong></h4></summary>

  Consider creating one dataframe which only includes Michigan.
</details>

#### Formulate your hypothesis:

**Formulate your null and alternative hypotheses here:**

*   $H_0$: The mean AQI of Michigan is less than or equal to 10.
*   $H_A$: The mean AQI of Michigan is greater than 10.

#### Significance Level (remains at 5%)

#### Determine the appropriate test procedure:

Here, you are comparing one sample mean relative to a particular value in one direction. Therefore, you will utilize a **one-sample  𝑡-test**.

#### Compute the P-value

In [49]:
# Computer your p-value here

### YOUR CODE HERE ###
ttest, p_value = stats.ttest_1samp(michigan['aqi'], 10, alternative='greater')
print('One-sample mean T-test: ', ttest)
print('P-value: ', p_value)

One-sample mean T-test:  -1.7395913343286131
P-value:  0.9399405193140109

<details>
  <summary><h4><strong>HINT 1</strong></h4></summary>

  Consider referencing the material on how to perform a one-sample t-test.
</details>

<details>
  <summary><h4><strong>HINT 2</strong></h4></summary>

  In `ttest_1samp)`, you are comparing the aqi column from your Michigan data relative to 10, the new policy threshold.
</details>

<details>
  <summary><h4><strong>HINT 3</strong></h4></summary>

  You can assign `tstat`, `pvalue` to the output of `ttest_1samp`. Be sure to include `alternative = greater` as part of your code.  

</details>

#### **Question 4. What is your P-value for hypothesis 3, and what does this indicate for your null hypothesis?**

With a P-value of 93% we have overwheliming evidence against the null hypothesis. This leads us to conclude that Michigan as a mean AQI value of less than 10.

## Step 4. Results and Evaluation

Now that you've completed your statistical tests, you can consider your hypotheses and the results you gathered.

#### **Question 5. Did your results show that the AQI in Los Angeles County was statistically different from the rest of California?**

There is no statistical significance between the difference of the mean AQI of California and LA

#### **Question 6. Did New York or Ohio have a lower AQI?**

The mean AQI of NY is less than the mean AQI of Ohio.

#### **Question 7: Will Michigan be affected by the new policy impacting states with a mean AQI of 10 or greater?**

No, Michigan does not show statistical evidence of having a mean AQI greater than 10.

# Conclusion

**What are key takeaways from this lab?**

**What would you consider presenting to your manager as part of your findings?**

**What would you convey to external stakeholders?**

**Congratulations!** You've completed this lab. However, you may not notice a green check mark next to this item on Coursera's platform. Please continue your progress regardless of the check mark. Just click on the "save" icon at the top of this notebook to ensure your work has been logged.